.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 50px 170px;
}

.services-title {
  position: relative;
}

.services-title h1 {
  padding: 0px 30px;
  font-size: 50px;
  font-weight: 600;
}

.services-title img {
  max-width: 320px;
  margin-top: -100px;
}

.services-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid rgb(169, 158, 134);
  transition: 0.4s;
  cursor: pointer;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 50px;
}

.services-container h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.services-container h3 {
  font-size: 34px;
  font-weight: 800;
  margin-top: 0;
  background: linear-gradient(
    264deg,
    rgba(218, 146, 1, 0.938) -5.09%,
    #333234 110.28%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-container p {
  color: #413f3f;
  font-size: 22px;
  line-height: 36px;
  max-width: 320px;
  margin-top: 0;
}

.services-readmore {
  display: flex;
  gap: 20px;
  align-items: center;
}

.services-readmore p {
  margin-top: 20px;
}

.services-readmore:hover {
  color: rgba(218, 146, 1, 0.938);
}

.services-format:hover {
  border: 2px solid rgb(169, 158, 134);
  background-image: linear-gradient(45deg, #b4b2b0, rgb(169, 158, 134));
  transform: scale(1.05);
  transition: 0.4s;
}
